<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>文件检索</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>CreateIndexServlet</servlet-name>
        <servlet-class>CreateIndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateIndexServlet</servlet-name>
        <url-pattern>/CreateIndexServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchResultServlet</servlet-name>
        <servlet-class>SearchResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchResultServlet</servlet-name>
        <url-pattern>/SearchResultServlet</url-pattern>
    </servlet-mapping>

</web-app>
